<nav class="nav-primary hidden-xs">
	<ul class="nav" id="nav">
	
		<li class="active">
			<a href="/admin/index">
				<i class="fa fa-dashboard icon">
					<b class="bg-success">
					</b>
				</i>
				<span>
					{{leaMsg . "Dashboard"}}
				</span>
			</a>
		</li>
		
		<li id="adminUserNav">
			<a href="#">
				<i class="fa fa-users icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					{{leaMsg . "User"}} 
				</span>
			</a>
			<!-- 导航列表 -->
			<ul class="nav lt">
				<li>
					<a href="/adminUser/index">
						<span>
							{{leaMsg . "Users"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/adminUser/add">
						<span>
							{{leaMsg . "Add User"}}
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li>
			<a href="/adminBlog/index">
				<i class="fa fa-file icon">
					<b class="bg-warning">
					</b>
				</i>
				<span>
					{{leaMsg . "Blog"}}
				</span>
			</a>
		</li>
		<li id="adminEmailNav">
			<a href="#layout">
				<i class="fa fa-envelope-o icon">
					<b class="bg-warning">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					{{leaMsg . "Email"}}
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=email/set">
						<span>
							{{leaMsg . "Configuration"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/template">
						<span>
							{{leaMsg . "Template"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/sendToUsers">
						<span>
							{{leaMsg . "Send Email to Users"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=email/send">
						<span>
							{{leaMsg . "Send Email"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/adminEmail/list">
						<span>
							{{leaMsg . "Email Logs"}}
						</span>
					</a>
				</li>
			</ul>
		</li>
		
		<li id="adminSettingNav">
			<a href="#layout">
				<i class="fa fa-cog icon">
					<b class="bg-info">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				<span>
					{{leaMsg . "Configuration"}}
				</span>
			</a>
			<ul class="nav lt">

				<li>
					<a href="/admin/t?t=setting/site_url">
						<span>
							{{leaMsg . "Site`s URL"}}
						</span>
					</a>
				</li>

				<li>
					<a href="/admin/t?t=setting/home_page">
						<span>
							{{leaMsg . "Home Page"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/demo">
						<span>
							{{leaMsg . "Demo User"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/open_register">
						<span>
							{{leaMsg . "Open Register"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/share_note">
						<span>
							{{leaMsg . "Register Share Note"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/upload">
						<span>
							{{leaMsg . "Upload File Size Limit"}}
						</span>
					</a>
				</li>
				
				<li>
					<a href="/admin/t?t=setting/export_pdf">
						<span>
							{{leaMsg . "Export PDF"}}
						</span>
					</a>
				</li>
				
			</ul>
		</li>
		
		<li>
			<a href="#">
				<i class="fa fa-columns icon">
					<b class="bg-success">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					{{leaMsg . "Data"}}
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=data/configuration">
						<span>
							{{leaMsg . "Mongodb Tool Configuration"}}
						</span>
					</a>
				</li>
				<li>
					<a href="/adminData/index">
						<span>
							{{leaMsg . "Backup & Restore"}}
						</span>
					</a>
				</li>
			</ul>
		</li>
		<!--
		<li>
			<a href="#">
				<i class="fa fa-space-shuttle icon">
					<b class="bg-danger">
					</b>
				</i>
				<span class="pull-right">
					<i class="fa fa-angle-down text">
					</i>
					<i class="fa fa-angle-up text-active">
					</i>
				</span>
				
				<span>
					Upgrade
				</span>
			</a>
			<ul class="nav lt">
				<li>
					<a href="/admin/t?t=upgrade/beta2">
						<span>
							v1.0-beta to v1.0-beta.2
						</span>
					</a>
				</li>
				<li>
					<a href="/admin/t?t=upgrade/beta3">
						<span>
							v1.0-beta.2/3 to v1.0-beta.4
						</span>
					</a>
				</li>
			</ul>
		</li>
		-->
	</ul>
</nav>
