{{template "member/top.html" .}}
<link href="/public/album/css/style.css" rel="stylesheet" />
<!-- <link href="/public/album/css/style-min.css" rel="stylesheet" /> -->
<div class="md" id="body">
<div style="margin: 3px;">
	<div class="holder"></div>

    <div class="tabs">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#images" data-toggle="tab">{{leaMsg . "Images"}}</a></li>
        <li class=""><a href="#uploadTab" data-toggle="tab">{{leaMsg . "Upload"}}</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="images">
        	<!-- tools -->
        	<div>
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <label class="control-label" for="albums">{{leaMsg . "Albums"}}:</label>
				  </div>
				  <div class="form-group">
				    	<select class="form-control" id="albumsForList">
				    		<option value="">{{leaMsg . "Default"}}</option>
						</select>
				  </div>
				  <div class="form-group">
				  	<input class="form-control" type="text" id="key" placeholder='{{leaMsg . "File title search"}}'/>
				  </div>
				  <div class="form-group button-group">
				  	&nbsp;&nbsp;<a href="javascript:;" title="refresh" id="refresh"><span class="fa fa-refresh"></span></a>	
					  <label><input type="checkbox" class="checkbox" id="checkAllImg" /><span class="label-imgcheckall">全选</span></label>
					  <input type="button" class="btn btn-primary" id="movImgBtn" value="移动" />		  
					  <input type="button" class="btn btn-danger" id="delImgBtn" value="删除" />					  
				  </div>
				</form>
				<div class="modal fade bs-modal-sm" id="albumsSwitchDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">移动图片</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<select class="form-control" id="albumsSwitch">
									<option value="">{{leaMsg . "Default"}}</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" id="saveMovBtn">移动</button>
						</div>						
				  </div>
				</div>
			</div>

			<div id="imagePage">
				<form id="imagesForm">
				<ul id="imageList" class="clearfix">
				</ul>
				</form>

				<!-- pagination -->
				<div id="paginationContainer">
					<ul class="pagination">
					</ul>
				</div>

				<div id="imageMask">
					<div id="noImages">
						<p>{{msg . "No Images"}}!</p>
						<btn class="btn btn-default" id="goAddImageBtn">{{leaMsg . "Go to upload images"}}</btn>
					</div>
					<div id="loading">
						loading....
					</div>
				</div>
			</div>
        </div>
        <div class="tab-pane fade" id="uploadTab">
            <div>
               <form class="form-inline" role="form">
				  <div class="form-group" id="albumSelect">
					    <label class="control-label" for="albums">{{leaMsg . "Albums"}}:</label>
					    
				    	<select class="form-control" id="albumsForUpload">
				    		<option value="">{{leaMsg . "Default"}}</option>
						</select>

						<a href="javascript:;" id="deleteAlbumBtn">{{leaMsg . "Delete"}}</a> | 
						<a href="javascript:;" id="renameAlbumBtn">{{leaMsg . "Rename"}}</a> |
						<a href="javascript:;" id="addAlbumBtn">{{leaMsg . "Add"}}</a> 
				  </div>
				  
				  <!-- rename or add album -->
				  <div class="form-group" style="display: none" id="addOrUpdateAlbumForm">
				      <input type="text" class="form-control" style="width: 150px" id="albumName">
				      <button class="btn btn-success" type="button" id="addOrUpdateAlbumBtn">{{leaMsg . "Add Album"}}</button>
				      <button class="btn btn-default" type="button" id="cancelAlbumBtn">{{leaMsg . "Cancel"}}</button>
				  </div>

				  <div class="form-group">
			        <span id="msg" class="alert alert-success" style="padding: 3px; display: none"></span>
				  </div>
				</form> 
            </div>

            <form id="upload" method="post" action="/file/uploadImageLeaui" enctype="multipart/form-data" style="margin-top: 5px;">
                <div id="drop">
                    <a class="btn btn-default">
                        {{leaMsg . "Click to upload images Or Drop images to here"}}
                    </a>
                    <input type="file" name="file" multiple />
                </div>
                <ul id="upload-msg">
                </ul>
            </form>
        </div>

        <div class="tab-pane fade" id="url">
        	<form class="form-inline" id="imageUrlForm" style="">
        		<div class="form-group">
				    <label class="control-label" for="imageUrl">{{leaMsg . "Image URL"}}:</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="imageUrl" size="51"/>
				</div>
				<div class="form-group">
					<button class="btn btn-success" id="addImageUrlBtn">{{leaMsg . "Add Image"}}</button>
				</div>
				<div class="form-group">
					<div class="alert alert-danger" id="msgForUrl" 
        			style="display: none; padding: 5px; width: 150px;">
        				{{leaMsg . "Can't load this url"}}
        			</div>
				</div>
			</form>
			</div>
      </div>
    </div>

    <ul id="preview" class="clearfix">
    </ul>

	<!--
    <div id="previewAttrs" style="margin-left: 10px">
    	<form class="form-inline" role="form">
		  <div class="form-group">
	    	<input class="form-control" id="attrTitle" placeholder="title" size="20" disabled/>
	    	<input class="form-control" id="attrWidth" placeholder="width" size="5" disabled/> X 
	    	<input class="form-control" id="attrHeight" placeholder="height" size="5" disabled/>
	    	<label><input type="checkbox" value="1"  id="attrConstrain" disabled/> Constrain proportions</label>
		  </div>
		</form>
    </div>
    -->
</div>
</div>
{{template "member/footer.html" .}}
<script>
// javascript global configration
var GlobalConfigs = {{.globalConfigs|jsonJs}}; // 2014/11/9 beta2
var G = {
	checkbox: true
};
G.imageSrcPrefix = 'upload';
G.perPageItems = 12;
G.maxSelected = 1;
var UrlPrefix = '{{.siteUrl}}';
</script>

<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/js/bootstrap-min.js"></script>
<script src="/js/plugins/libs-min/fileupload.js"></script>
<script src="/js/jquery.pagination.js"></script>
<script src="/public/album/js/main.js"></script>
<!-- <script src="/public/album/js/main.all.js?i=2"></script> -->
{{template "member/end.html" .}}